apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-tewzmbux
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-tewzmbux:0ee1a9f63719d27dbd767fd5d5690dcd7f038022@sha256:f99c9de8a89ef21b095bdd114116356bf423e1d64f6af3dcab93aba8fba0d88e
        name: container-image  
